
body{

  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(images/dolomites-autumn.jpg);

}

ul{
  list-style-type: none;
}

a:link    {color:coral; background-color:transparent; text-decoration:none}
a:visited {color:coral; background-color:transparent; text-decoration:none}

.sectHead{
  font-size: 30px;
}

#mainBody{
  padding-top: 60px;
  max-width: 80%;
  text-align: left;
  margin: auto;
  color: white;
}

#NameDiv{
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(25, 181, 254, 0.7);
  color: white;
  font-size: 60px;
}

#someContent{
  padding: 20px;
  max-width: 40%;
  float: left;
  background-color: rgba(25, 181, 254, 0.7);
  font-size: 20px;
}

#someMoreContent{
  padding: 20px;
  max-width: 40%;
  float: right;
  background-color: rgba(25, 181, 254, 0.7);
  font-size: 20px;
}

#experienceStuff{
  padding: 20px;
  margin-top: 500px;
  text-align: left;
  background-color: rgba(25, 181, 254, 0.7);
  font-size: 20px;
  color: white;
}
